.git
.pytest_cache
.venv
.vscode
__pycache__/
*.pyc
*.pyo
*.pyd

classes_MPTed.png
packages_MPTed.png
tmp_hs.txt

project/.env
project/backups/
project/homework_attachments/
project/homework_submissions/
project/media/
project/test_media/
project/collected_code.txt
project/file_table.txt
